/*
This is scss (styling) file.
This file contains styling for pages
To SEARCH styling properties for any page,
search that page name
*/ 


/***************************
Main Page Styling
****************************/
.main-app-page{
    display: flex;

}

/***************************
Dashboard Styling
****************************/