/*
This is scss (styling) file.
This file contains styling for basic layout & common styling
*/

// imports
@use '../abstract/mixin' as *;
@use '../abstract/color' as *;

// Common Layout stylings
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: $white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/*******************************
This is section styles
********************************/
.section-width {
    max-width: 1556px;
    width: 100%;
    margin: auto;
    @include lg {
        max-width: 1144px;
    }
    @include md {
        max-width: 728px;
    }
    @include sm {
        max-width: 428px;
    }
}


/*******************************
This is shadow styles
********************************/


/*******************************
This is padding styles
********************************/


/*******************************
This is border styles
********************************/



/*******************************
This is margin styles
********************************/

/*******************************
This is link styles
********************************/

/*******************************
This is button styles
********************************/

/*******************************
This is list styles
********************************/


/************************************
This is transition/animation styles
*************************************/