/*
This is color varaible stylesheet
*/

$black: #000000;
$white: #ffffff;
$primary-color-100: #5f35fe;
$primary-color-90: #5e37ff;
$primary-color-80: #5f38ff;
$primary-color-10: #d8d7f5;
$grey-muted-30: #898ca0;
$muted-bg: #f6f8fd;
$success-sharp: #67AE6E;
$success-muted: #eefcf3;
$danger-sharp: #F7374F;
$danger-muted: #ffebf4;
$chart-accent-expense: #fa3cfe;