/*
This is index file. All "@forwards" must be included here.
This single file can be imported / "@use" in any component scss file will import all the dependecies mentioned in this file. 
*/

// Dependecies imports
@forward "./breakpoints";
@forward "./colors";
@forward "./utility";
// @forward "./typography";