/*
This is utility file.
All mixins, functions for styling will be included here.
*/

// Import Dependecies
@use "sass:math";

/*******************************
MIXINS
********************************/



/*******************************
Flex Mixins 
********************************/
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*******************************
FUNCTIONS
********************************/

// function for px to REM conversion
@function calcRemToPx($value) {
    // used math  method to implement division
    $remValue: math.div($value, 16px) * 1rem;
    @return $remValue;
}